@use "sass:color";
@use "../../../colors.scss" as *;

.noUi-handle {
    width: 16px !important;
    height: 16px !important;
    transform: translate(-50%);
    background: none;
    border: none;
    box-shadow: none;
    opacity: 0%;
}

.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.noUi-target {
    margin: 10px 0;
    height: 10px;
    border: none;
    background-color: rgba($text, 0.2);
    box-shadow: unset;
}

.noUi-connect {
    background-color: $accent;
}